<%- include ('partials/header') %>
<%- include ('partials/homenavbar') %>
<body>
	<div class="container mt-4">
		<hr>
		<h1><%= article.title %></h1><br>
		<%- article.body %>
		
	</div>
</body>
<%- include ('partials/footer') %>
